body {
  font: 15px arial, sans-serif;
  background-color: #d9d9d9;
  padding-top: 0px;
  padding-bottom: 0px;
}

#bodybox {
  margin: auto;
  max-width: 550px;
  font: 15px arial, sans-serif;
  background-color: white;
  border-style: solid;
  border-width: 0px;
  padding-top: 00px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: 0px 0px 0px grey;
  border-radius: 0px;
}

#chatborder {
  min-height: 120px;
  max-height: auto;
  
  
  border-style: solid;
  background-color: #f6f9f6;
  border-width: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 0px;
}

.chatlog {
   font: 15px arial, sans-serif;
}

#chatbox {
  position: fixed;
  bottom: 0px;
  font: 17px arial, sans-serif;
  height: 22px;
  width: 330px;
 
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  margin: auto;
}

pre {
  background-color: #f0f0f0;
  margin-left: 00px;
}
